.spotifyWrapper {
  &Playlist {

  }

  &Input {
    padding: 10px 20px;

    input {
      padding: 5px;
      width: 100%;
      background-color: rgba(46, 49, 56, 0.88);
      border: none;
      border-radius: 2px;
      color: #cecece;
    }
  }
}
