nav {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  right: 10%;
  z-index: 2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        text-decoration: underline;
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.mainPage {
  position: relative;
  overflow: hidden;
}

.background {
  background: linear-gradient(45deg, #0F1923 50%, #FCFF00 50%);
  filter: blur(15px);
  -webkit-filter: blur(8px);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.contentContainer {
  margin-top: 10%;
  margin-bottom: 10%;
}

.content {
  position: relative;
  z-index: 2;

  border: 1px solid #0F1923;
  box-shadow: 0 0 10px;

  background-color: #ffffff;
}

.heroDescription {
  padding: 20px;
  background-color: #0F1923;
  color: #ffffff;
  font-size: 1.5rem;


  .title {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
  }
}

.contacts {
  padding: 10px 0 30px;
  border-bottom: 1px solid #cccccc;

  span {
    font-size: 1.2rem;
    text-decoration: underline;
    padding: 10px;
  }

  .links {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    text-decoration: none;

    p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      color: #000;
    }
  }
}

.social {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a {
          padding: 20px 30px;
          border-bottom: 1px solid #cccccc;
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          text-decoration: none;
          color: #000;
          transition: 0.3s all ease-in-out;
        }
        :hover {
          background-color: #0F1923;
          color: #ffffff;
        }
      }
  }
}
