.preloader {
  height: 100vh;
  width: 100%;
  background: #0F1923;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.texts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 280px;
  font-size: 20px;
  font-weight: 700;
  overflow: hidden;
  color: #FCFF00;
}