.openBtn {
  background: transparent;
  color: #ffffff;
  border: none;
  font-weight: 700;
}

h2 {
  color: #000;
}

.tabs {
  display: flex;
  justify-content: space-around;
  color: #828282;
  &Item {
    
  }
}

.activeTab {
  padding: 5px;
  color: #000;
}

.content {
  color: #000;
  &Item {
    display: none;
  }
}

.activeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 2px dotted #ccc;

  span {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    text-align: center;
    user-select: all;
    background-color: #c1c1c1;
  }
}