.musicPlayer {
  padding: 10px 0;
  border: 1px solid #ffffff;
  border-radius: 8px;
  background-color: #0F1923;
  &Wrapper {
    &Title {
      display: flex;
      justify-content: space-around;
      padding: 10px 10px 0 10px;
      font-weight: 700;
      color: #ffffff;

      span {
        user-select: none;
        cursor: pointer;
      }
    }
  }
}

.tab {
  padding: 10px;
  border: 2px solid transparent;
}

.activeTab {
  padding: 5px;
  transition: 0.2s all ease-in-out;
}

.yandexColor {
  border-bottom: 4px solid #FFDB4D;
  color: #FFDB4D;
}

.spotifyColor {
  border-bottom: 4px solid #1ED760;
  color: #1ED760;
}

.youtubeColor {
  border-bottom: 4px solid #FF0000;
  color: #FF0000;
}

.content {
  display: none;
}

.activeContent {
  display: block;
}