.nav {
  display: flex;
  justify-content: space-between;

  ul {
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    li {
      z-index: 999;
      text-align: center;
      align-self: start;
      margin-left: 10px;
      padding: 5px 10px;
      border-radius: 0 0 5px 5px;
      background-color: #0F1923;
      font-weight: 700;
      color: #ffffff;
      cursor: pointer;
    }
  }
}